<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
  </head>
<body>
    <h1 class="text-center my-4">Cart for {{user.first_name}}</h1>

    <div class="container">
      {{#if products.length}}
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          {{#each products}}
            <div class="col">
              <div class="card h-100">
                <div class="card-body">
                  <img src="{{this.thumbnail}}" class="cartImg" alt="{{this.title}}">
                  <div class="card-info">
                    <h5 class="card-title">{{this.title}}</h5>
                    <div>
                      <p class="card-text"><strong>Price:</strong> ${{this.price}}</p>
                      <p class="card-text"><strong>Quantity:</strong> {{this.quantity}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
        <div class="total-amount">
          Total Amount: ${{totalAmount}}
        </div>
        <button id="purchaseCart" onclick="purchaseCart('{{user.cart}}')">Purchase Cart</button>
      {{else}}
        <p>{{message}}</p>
      {{/if}}
    </div>
  </body>
</html>